
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "css/index.css" />
 </head>
 <body>

<div id="myModal" class="modal">
<div class="modal-content">
<figure class='modal-video'>
 <iframe width="550" height="315" src="https://www.youtube.com/embed/uCsD3ZGzMgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </figure>
<p><b>Where Should I Stand?</b> is based on <i>the Josephus problem</i>, a math problem from history about knowing where to stand in a circle to avoid dying.</p>
</div>
</div>


<script src="js/biNums.js"></script>
<script src="js/linkedList.js"></script>
<script src="js/hologram_sprite.js"></script>
<script src="js/title_sprite.js"></script>
<script src="js/title-grid.js"></script>
<script src="js/button.js"></script>
<script src="js/sketch.js"></script>
 </body>
</html>
